@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: RGB(209, 250, 229);
    --background-end-rgb: RGB(209, 250, 229);

}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --foreground-rgb: 255, 255, 255;*/
/*        --background-start-rgb: 0, 0, 0;*/
/*        --background-end-rgb: 0, 0, 0;*/
/*    }*/
/*}*/

body {
    /*background: rgb(255,248,225);*/
    /*background: linear-gradient(0deg, rgba(0,0,0,1) 83%, #93c5fd 100%);*/
    /*background: rgb(2,0,36);*/
    /*background: linear-gradient(-5deg, rgba(2,0,36,1) 60%, rgba(33,61,105,1) 90%);*/
    background: linear-gradient(-10deg, black,85%, blue);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
